<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
	</head>
	<body>
		<h1><%= title %></h1>
		<form action="POST" action="/new">
			<label for="author">Author:</label>
			<input name="author" type="text" id="author" />

			<label for="message">Message:</label>
			<textarea name="message" id="message" cols="30" rows="10"></textarea>

			<button type="submit">Post</button>
		</form>
	</body>
</html>
