<!DOCTYPE html>
<html>
	<head>
		<title>Message Board</title>
	</head>
	<body>
		<ul>
			<% messages.map(message => { %>
			<li>
				<h2><%= message.user %></h2>
			</li>
			<% }); %>
		</ul>
	</body>
</html>
